body {
  
  font-family: Arial, sans-serif;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;  
}
#c
{
  background-color: red;
}
#num
{
  background-color:bisque;
  text-align: right;
}
#eq{
background-color: rgb(16, 243, 243);
}
.calculator {
color: white;
}

 table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
}

 td {
  width: 100px;
  
  height: 60px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
td:hover {
  background-color:lightblue;
}